/* Basic editor styles */
.tiptap {
  outline: none;
  > * + * {
    margin-top: 0.75em;
  }

  ul, ol {
    margin-left:2rem;
    list-style-position: outside;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }


  p {
    line-height: 1.7;
  }

  a {
    font-weight: 500;
    color: #3182ce;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
  }

  h1 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 2.5rem;
  }

  h2 {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 2.25rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }
}
